.favoritesPage {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    
}

.favoritesCity {
    border: solid black;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 2%;
}